/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  font-family: var(--font-main), sans-serif;
  background-image: var(--bg-gradient);
  background-size: cover;
  background-attachment: fixed;
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-variation-settings: "wght" var(--font-main-weight);
}

/* шапка */

.header {
  padding: 98px 0;
  font-family: var(--font-accent);
}

.header__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: var(--block-width);
  margin: auto;
  border: 2px solid var(--text-main);
  padding: clamp(120px, 32%, 130px) 0;
  background-color: #fff;
}

.header__label {
  font-weight: 400;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
  text-transform: uppercase;
}

.header__title {
  font-weight: 400;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
  text-transform: uppercase;
}

/* Основной контент */

.card {
  max-width: var(--block-width);
  margin: auto;
  margin-bottom: 50px;
  border: 2px solid var(--text-main);
  background-color: #fff;
}

.card__title {
  padding: 6px 10px;
  font-size: 18px;
  font-variation-settings: "wght" var(--font-main-weight-header);
}

.card__image-wrapper {
  position: relative;
  border-top: 2px solid var(--text-main);
  border-bottom: 2px solid var(--text-main);
}

.card__label {
  position: absolute;
  top: 24px;
  right: 24px;
  z-index: 1;
  opacity: 0.5;
  font-family: var(--font-accent);
  font-size: 14px;
  text-transform: uppercase;
  text-shadow: -1px -1px var(--text-stroke), 1px -1px var(--text-stroke),
    -1px 1px var(--text-stroke), 1px 1px var(--text-stroke);
  mix-blend-mode: hard-light;
}

.card__image {
  display: block;
  max-width: 100%;
  aspect-ratio: 1/1;
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 25px;
  font-size: 18px;
}

.card__like {
  display: flex;
  align-items: center;
  gap: 4px;
  align-self: flex-end;
  font-size: 14px;
}

.card__like-button {
  position: relative;
  width: 130px;
  height: 38px;
  border: 2px solid var(--text-main);
  padding: 9px 17px;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
}

.card__icon-button {
  min-width: 38px;
  height: 38px;
  border: 2px solid transparent;
  padding: 0;
  background-color: transparent;
  transition: border-color 0.3s ease;
}

.button__text {
  position: relative;
  z-index: 1;
  display: inline-block;
  color: #fff;
  font-family: var(--font-accent);
  font-size: 14px;
  mix-blend-mode: difference;
}

.button__text::first-letter {
  text-transform: uppercase;
}

.card__icon-button:focus,
.card__icon-button:focus-visible {
  outline: none;
}

.card__icon-button:focus-visible {
  border-color: var(--text-main);
}

/* footer */

.footer {
  padding-bottom: 100px;
}

.footer__button {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  margin: auto;
  border: 2px solid var(--text-main);
  padding: 15px 18px;
  background-color: #fff;
  transition: box-shadow 0.3s ease;
}

.footer__button .button__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 90%;
}

.diskette-icon {
  position: relative;
  z-index: 1;
  width: 28px;
  color: #fff;
  aspect-ratio: 1/1;
  mix-blend-mode: difference;
}

/* modal */

.footer__modal {
  display: none;
  border: 2px solid var(--text-main);
}

.footer__modal[open] {
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 353px;
  padding: 28px 38px;
}

.footer__modal[open]::backdrop {
  opacity: 0.75;
  background: var(--text-main);
}

body:has(dialog[open]) {
  overflow: hidden;
}

.footer__modal-title-wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.footer__modal-title-wrapper .diskette-icon {
  flex-shrink: 0;
  width: 39px;
  height: 39px;
}

.footer__modal-title {
  font-family: var(--font-accent);
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  text-transform: uppercase;
}

.footer__modal .footer__button {
  width: 100%;
  text-transform: uppercase;
}

/* filters */

.filter-vintage {
  filter: sepia(60%) contrast(110%) brightness(105%);
}

.filter-cold {
  filter: hue-rotate(180deg) brightness(90%) saturate(120%);
}

.filter-dramatic {
  filter: contrast(150%) saturate(130%) brightness(95%);
}

.filter-dreamy {
  filter: blur(1px) brightness(115%) saturate(80%);
}

.filter-nostalgic {
  filter: grayscale(80%) sepia(20%) contrast(105%);
}

.filter-vibrant {
  filter: saturate(180%) contrast(115%);
}

.filter-dark {
  filter: brightness(70%) contrast(120%);
}

.filter-fantasy {
  filter: blur(1px) brightness(1.15) hue-rotate(270deg) saturate(180%)
    contrast(1.2);
}

/* focus */

.card__like-button:focus {
  box-shadow: 2px 2px 0 0 var(--text-main);
  outline: none;
}

.footer__button:focus {
  box-shadow: 2px 2px 0 0 var(--text-main);
  outline: none;
}

/* hover */

.footer__button:after,
.card__like-button:after {
  content: "";
  position: absolute;
  inset: 0;
  z-index: 0; /* ниже текста */
  background-color: var(--text-main);
  transition: transform 0.5s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.footer__button:hover:after,
.card__like-button:hover:after {
  transform: scaleX(1);
}

/* animation */

.sparks {
  opacity: 0;
}

.contour {
  transition: fill 0.1s linear;
}

.main-body {
  fill: transparent;
  transition: fill 0.3s linear;
}

.core {
  fill: transparent;
  transition: fill 0.3s linear 0.03s;
}

/*  */

.like-icon:hover .core {
  fill: var(--contour-color);
  transition: fill 0.3s linear;
}

.like-icon:hover .main-body {
  fill: var(--contour-color);
  transition: fill 0.3s linear 0.05s;
}

/*  */

.like-icon:active .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

.like-icon:active .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

/*  */

.like-icon.is-liked .contour {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .main-body {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--animation-fill-color);
  transition: fill 0.3s linear;
}

/*  */

.heart {
  transform-origin: center;
}

.like-icon.is-liked .heart {
  animation: heart-scale 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  animation: sparks-flash 0.3s ease-in 0.3s;
}

/* media */

@media (width > 375px) {
  .footer__button {
    flex-direction: initial;
  }

  .footer__modal .footer__button {
    flex-direction: column;
  }

  .diskette-icon {
    width: 21px;
  }
}

/* supports */

@supports (text-stroke: 4px var(--text-stroke)) {
  .card__label {
    text-shadow: none;
    text-stroke: 1px var(--text-stroke);
  }
}
